# Python
__pycache__/
paper_picnic.egg-info
*.py[cod]
*$py.class
*.so
.Python
.venv
.env

# Testing
.pytest_cache/
.coverage
htmlcov/
*.cover

# Logs
logs/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Temporary files
_site