<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a {% if page.url=="/politics.html" %}class="nav-link active" {% else %}class="nav-link" {% endif %}
                        href="./politics">Politics</a>
                </li>
                <li class="nav-item">
                    <a {% if page.url=="/economics.html" %}class="nav-link active" {% else %}class="nav-link" {% endif
                        %} href="./economics">Economics</a>
                </li>
                <li class="nav-item">
                    <a {% if page.url=="/sociology.html" %}class="nav-link active" {% else %}class="nav-link" {% endif
                        %} href="./sociology">Sociology</a>
                </li>
                <li class="nav-item">
                    <a {% if page.url=="/multidisciplinary.html" %}class="nav-link active" {% else %}class="nav-link" {%
                        endif %} href="./multidisciplinary">Multidisciplinary</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        More
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="./migration">Migration Studies</a></li>
                        <li><a class="dropdown-item" href="./communication">Communication Studies</a></li>
                        <li><a class="dropdown-item" href="./public_administration_and_policy">Public Administration and Policy Studies</a></li>
                        <li><a class="dropdown-item" href="./environmental_and_climate_politics_studies">Environmental/Climate Politics Studies</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a {% if page.url=="/notifications.html" %}class="nav-link active" {% else %}class="nav-link" {%
                        endif %} href="./notifications"><span class="text-nowrap">📨 Notifications</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://preprint.paper-picnic.com/"><span class="text-nowrap">🔥 Preprints</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>