Hi,

You are now subscribed to Paper Picnic.

To update your selection, visit paper-picnic.com/notifications, make your new selections, and email the subscription code to subscribe@paper-picnic.com again. Your selection will be replaced immediately.

To unsubscribe, email unsubscribe@paper-picnic.com from your subscribed address (the subject and body do not matter).

— Paper Picnic
