<!doctype html>
<html lang="en">
{% include head.html %}

<body class="d-flex flex-column min-vh-100">

  {%- assign count_total = site.data.journals | size -%}
  {% include nav.html %}

  <div class="container mt-5">
    <div class="hero">
      <h1>Paper Picnic 🧺</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        A weekly basket with the latest published research in political science. On Fridays at 2 AM UTC, we query the
        Crossref API for new research articles that appeared in the previous 7 days across {{count_total}} academic
        journals in political science and adjacent fields.
      </p>

    </div>
  </div>

  <div class="container">
    <div class="col-lg-6 mx-auto pb-5">
    <h3 class="text-center">Journal Coverage</h3>
      {% include journal_list.html categories_list=page.journals %}
    </div>
  </div>

  <div class="container mt-2">
      {% include coffee_button.html %}
  </div>

  {% include foot.html %}

</body>

</html>