<!doctype html>
<html lang="en">
{% include head.html %}

<body class="d-flex flex-column min-vh-100">

  {% assign count_total = 0 %}

  {% assign count_politics = site.data.politics_journals | size %}
  {% assign count_economics = site.data.economics_journals | size %}
  {% assign count_sociology = site.data.sociology_journals | size %}
  {% assign count_multidisciplinary = site.data.multidisciplinary_journals | size %}
  {% assign count_migration = site.data.migration_journals | size %}

  {% assign count_total = count_total | plus: count_politics %}
  {% assign count_total = count_total | plus: count_economics %}
  {% assign count_total = count_total | plus: count_multidisciplinary %}
  {% assign count_total = count_total | plus: count_migration %}


  {% include nav.html %}

  <div class="container my-1">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <h1>Paper Picnic 🧺</h1>
      <p class="col-lg-8 mx-auto fs-5 text-muted">
        A weekly basket with the latest published research in political science. On Fridays at 2 AM UTC, we query the
        Crossref API for new research articles that appeared in the previous 7 days across {{count_total}} journals in
        political science and adjacent fields.
      </p>

      <div class="btn-group flex-wrap mt-3" role="group" aria-label="Landing Page Navigation">
        
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-dark dropdown-toggle btn-md" data-bs-toggle="dropdown" aria-expanded="false">
            Baskets
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="./politics">Politics</a></li>
            <li><a class="dropdown-item" href="./economics">Economics</a></li>
            <li><a class="dropdown-item" href="./sociology">Sociology</a></li>
            <li><a class="dropdown-item" href="./multidisciplinary">Multidisciplinary</a></li>
          </ul>
        </div>
        
        <div class="btn-group" role="group">
        <button type="button" class="btn btn-dark dropdown-toggle btn-md" data-bs-toggle="dropdown" aria-expanded="false">
          Background
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#motivation">Motivation</a></li>
          <li><a class="dropdown-item" href="#backend">Backend</a></li>
          <li><a class="dropdown-item" href="#contribute">Contribute</a></li>
        </ul>
        </div>

      </div>

    </div>
  </div>



  <div class="container px-4">
    <h3 class="text-center mt-5">Covered Journals</h3>
    <div class="row row-cols-1 row-cols-md-2 align-items-md-start g-5">
      <div class="col">
        <ul class="list-group list-group">
          {% for journal in site.data.politics_journals %}
          <li class="list-group-item"> {{ journal.journal_full }} </li>
          {% endfor %}
        </ul>

      </div>
      <div class="col">
        <ul class="list-group list-group">
          {% for journal in site.data.economics_journals %}
          <li class="list-group-item"> {{ journal.journal_full }} </li>
          {% endfor %}
        </ul>

        <ul class="list-group list-group mt-3">
          {% for journal in site.data.sociology_journals %}
          <li class="list-group-item"> {{ journal.journal_full }} </li>
          {% endfor %}
        </ul>

        <ul class="list-group list-group mt-3">
          {% for journal in site.data.multidisciplinary_journals %}
          <li class="list-group-item"> {{ journal.journal_full }} </li>
          {% endfor %}
        </ul>

        <ul class="list-group list-group mt-3">
          {% for journal in site.data.migration_journals %}
          <li class="list-group-item"> {{ journal.journal_full }} </li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>

  <div class="container">
    <div class="col-lg-6 mx-auto p-4 py-md-5">
      {{ content }}
    </div>
  </div>


  <div class="modal fade" id="jsonlist" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="filterLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="filterLabel">Public json files</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul class="list-group list-group mt-3"></ul>
          {% for file in site.static_files %}
          {% if file.extname == ".json" -%}
            <li class="list-group-item"><a href="{{ site.baseurl }}{{ file.path }}">{{ file.path }}</a></li>
          {%- endif %}
          {% endfor %}
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
{% include foot.html %}
  
</body>

</html>