<!doctype html>
<html lang="en">
{% include head.html %}
<body class="d-flex flex-column min-vh-100"></body>
{% include nav.html %}
<main class="container fluid">
<div class="alert alert-warning alert-dismissible fade show" role="alert">
There is an issue affecting the delivery of notification emails to approximately 10% of all subscribers. The root cause has not yet been identified, but the UCL IT team is investigating and working to resolve the problem.
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" id="close-alert"></button>
</div>
</main>
{{ content }}
{% include foot.html %}
</body>
</html>

